:root {
  --dusty-pink: rgb(250, 150, 150);
  --navy: rgb(27, 18, 40);
  --gray: rgb(68, 74, 96);
  --light-gray: rgb(129, 139, 167);
}

/* Header Styling */
.weather-header {
  display: flex;
  /* centers the content horizontally */
  justify-content: center;
  /* centers the content vertically */
  align-items: center;
  background-image: linear-gradient(to left, var(--light-gray), var(--gray), var(--navy));
}

.weather-header h1 {
  font-size: 2.5rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.weather-logo {
  display:flex;
  width: 150px;
  height: 150px;
}